body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.main-container{
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffff;
}
.container {
    width: 500px;
    background-color: #ddd;
}